* {
    margin: 0;
    padding: 0;
  }

  body {
    background: white;
    position: relative;
    top: 20vh;
    overflow: hidden;
  }

  #tap {
    text-align: center;
    align-items: center;
    display: block;
    font-family: 'Sansita Swashed', cursive;
    font-size: 200%;
  }

  #Go {
    display: none;
    color: red;
    text-align: center;
    font-family: 'Sansita Swashed', cursive;
    font-size: 200%;
  }

  #score {
    text-align: right;
    position: relative;
    right: 10px;
    font-size: 100%;
    font-family: 'Inconsolata', monospace;
  }

  #obstacle {

    background-image: url('cacti.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 60px;
    height: 60px;
    position: relative;
    top: 215px;
    left: -6vh;
  }

  .ob {
    animation: obstacle 5s linear infinite;
    overflow: hidden;
  }

  @keyframes obstacle {
    0% {
      left: 300vw;
    }

    100% {
      left: -10vw;
    }
  }

  #Dino {
    background-image: url('t-rex.png');
    background-size: 100%;
    width: 60px;
    height: 60px;
    position: relative;
    top: 260px;
    left: 10px;
    background-repeat: no-repeat;
  }

  .line {
    border-bottom: 2px solid #595959;
    position: relative;
    top: 200px;
    width: 100vw;
    overflow: hidden;
  }

  .kawa {
    animation: dinojump 1s linear;
  }

  @keyframes dinojump {
    0% {
      top: 260px;
    }

    50% {
      top: 60px;
    }

    100% {
      top: 260px;
    }
  }